/**
 * style.css
 *
 *
 * This stylesheet sets up the basic styling for a webpage, including a header
 * with navigation links, and a main content area with three lists styled
 * differently: nations, flags, and population. 
 * The header is fixed and has a high z-index to ensure it stays above other elements 
 * when scrolling.
 *
 * styling the page using --> display: flex instead of using float
 *
 */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* this will prevent the overlap of subsequent contents over the main */
.clear {
    clear: both;
}


/*-------------------- START HEADER --------------------------*/

/* let's set up a z-index value, to go to win the overlap
on the other elements while scrolling the page */
header {
    width: 100%;
    height: 70px;
    background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* put the lists (li), at the center of his father container (ol) 
and give them a space each others whit FLEXBOX*/
header ol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

/* transform the lists through display: inline-block, so they will be inline  while using block proprieties */
header ol li {
    width: calc(80% / 3);
}

header ol li a {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    text-decoration: none;

    &:hover {
        text-decoration: 2px underline;
    }
}

/*-------------------- END HEADER --------------------------*/



/*--------------------------- START MAIN --------------------------------*/

/* give the margin above so as not to allow the Navbar
of the header, to submit the first contents */
main {
    display: flex;
    width: 90%;
    background-color: #3e2a60;
    color: white;
    margin: 80px auto 0;
    position: relative;
}

/*? ------------ UNIVERSAL SETTINGS for all lists --> ul (nation, flag, population), li ----------------------- */

main ul {
    width: calc(100%/3);
    border: 1px solid;
}

main ul li:nth-child(even) {
    background-color: #71cbff;
    color: black;
}

main ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

main .huge::before,
main .huge::after {
    content: "!";
    color: black;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
}

/* ? --------------------------------------------------------------- */



/* !1 list (nations) */

main ul.nation li {
    font-size: 28px;
    font-weight: bold;
}


/* !2 list (flags)*/

main ul.flags li img {
    width: 270px;
    height: 170px;
}


/* !3 list (population) */

main ul.population li {
    font-size: 26px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*--------------------------- END MAIN --------------------------------*/