/**
 * style.css
 * 
 * This stylesheet configures the overall style for the webpage,
 * including the main navigation bar and responsive sidebar.
 * All elements are set to use the border-box model.
 *
 * START FROM MOBILE FIRST
 */

 html {
    box-sizing: border-box;
    font-size: 20px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Let's set a background image that occupies 100% of the viewport. Using background-attachment: fixed, 
   the background image will be fixed relative to the browser window (viewport). 
   This means the background image will remain fixed and not move when the user scrolls the page. */
body {
    background-image: url("../IMG/background.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* ------------------------- START MAIN NAVBAR ---------------------------- */

/* The MAIN navbar will be fixed at the top while scrolling the page.
   The list of items will be positioned at the bottom of the navbar, occupying 100% of the navbar's width. 
   Initially, it will be beneath the label (hamburger) since we start with mobile-first. */
nav ul.main-nav {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Each list item (li) in the MAIN nav will be displayed side by side, 
   with text centered inside its parent (ul) using text-align and line-height. */
nav ul.main-nav li {
    display: inline-block;
    text-align: center;
    line-height: 79px;
}

/* The MAIN navbar logo will be placed on the left side of the list (ul) using float: left. */
nav ul.main-nav li.logo {
    width: 15%;
    color: white;
    font-size: 1.6rem;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0 15px;
    float: left;
}


/* Create the list items (li) with various sections next to the logo,
   giving padding to the <a> so it covers the entire area of the <li>. 
   Since we start with mobile-first, they will initially not be visible (display: none). */
nav ul.main-nav li a {
    display: none;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 29px 35px;
    transition: background-color 0.5s;
}


/* ---------------------------- END MAIN NAVBAR -------------------------------- */


/* ----------------------------- START SIDEBAR NAV --------------------------------------- */

/* Skeleton of the SIDE navbar, will appear on the right side of the screen,
   leaving space above to not overlap with the main navbar.
   When the hamburger (label) is clicked, the sidebar nav will appear. */
nav ul.sidebar {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 120px;
    position: absolute;
    top: 80px;
    right: 0;
}

nav ul.sidebar li {
    text-align: center;
    line-height: 75px;
    transition: background-color 0.5s;
}

nav ul.sidebar li a {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 28.5px 35px;
}

/* SHOW THE LABEL (hamburger) on the right side of the nav,
   clicking it will activate/deactivate the checkbox. */
label {
    width: 32px;
    height: 32px;
    cursor: pointer;
    vertical-align: middle;
    background: url("../IMG/menu.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10px;
    margin-top: 26px;
    margin-right: 30px;
    float: right;
}

/* When the hamburger label is clicked, it activates a hidden input checkbox.
   The hamburger transforms into an X. */
input:checked+label {
    width: 25px;
    height: 25px;
    background-image: url("../IMG/close.png");
}

/* Show the sidebar when the checkbox is selected */
input:checked~ul.sidebar {
    display: block;
}

/* ------------------------------- END SIDEBAR NAV ---------------------- */

nav ul.main-nav li a:hover,
nav ul.sidebar li:hover {
    background-color: rgba(128, 128, 128, 0.65);
}

/* The input checkbox and the label will NOT BE VISIBLE but WILL EXIST. In the case
   of a responsive page (max-width <= 1024px), clicking the "label" will activate/deactivate
   the checkbox, which will be used to show and hide the SIDEBAR nav. */
input {
    display: none;
}

/* ------------------------- START RESPONSIVE NAVBAR ------------------------*/

/* From 0 to 480px */
@media(min-width: 480px) {

    /* Increase the logo size */
    nav ul.main-nav li.logo {
        font-size: 2rem;
    }

    /* Increase the width of the SIDEBAR nav
       that contains all the items (li) */
    nav ul.sidebar {
        width: 200px;
    }

    /* Increase the font-size of the text (a)
       inside its item (li) */
    nav ul.sidebar li a {
        font-size: 0.8rem;
    }
}


/* From 481px to 1024px */
@media(min-width: 1024px) {

    /* Once the viewport reaches a minimum length, we will hide
       the label (hamburger) that opens the SIDEBAR nav when clicked. */
    label {
        display: none;
    }

    /* Ensure the MAIN nav is above all elements */
    nav ul.main-nav {
        z-index: 1000;
    }

    /* Increase the logo size further */
    nav ul.main-nav li.logo {
        font-size: 2.5rem;
    }


    /* IMPORTANT!: We set display: inline to show the text (a) inside the items (li).
       We use "inline" because otherwise, it will take the line-height: 79px; and apply it to <a> as well. */
    nav ul.main-nav li a {
        display: inline;
    }
}

/* ------------------------- END RESPONSIVE NAVBAR ---------------------------- */
