/**
 * style.css
 *
 * This file includes rules for layout, colors, typography,
 * as well as media queries to make the site responsive.
 *
 */

html {
    box-sizing: border-box;
    font-size: 20px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Setting a background image that covers 100% of the viewport (body).
   Using background-attachment: fixed keeps the background image fixed relative to the browser window (viewport),
   preventing it from moving when the user scrolls the page. */
body {
    background-image: url(../IMG/abstract-blue-circle-black-background-technology_1142-12714.avif);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

/* Used in both navbars */
.backGroundNavBar {
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
}

/* ------------------------------------------START NAVBAR MAIN-------------------------------------------------- */

/* The main navbar is fixed at the top while scrolling the page.
   List items are aligned to the bottom of the navbar, occupying 100% of its width.
   All list items (li) are positioned at the end of their parent (navMain). */
ul#navMain {
    width: 100vw;
    text-align: end;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Display list items inline-block to center their content (a) within their parent (li). */
ul#navMain li {
    display: inline-block;
    text-align: center;
    line-height: 85px;
}

/* Main navbar logo is floated to the left within its list item (li). */
ul#navMain li.logo {
    float: left;
    color: whitesmoke;
    font-size: 2.8rem;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 400;
    padding: 0 15px;
}

ul#navMain li a {
    display: inline-block;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 35px;
    transition: background-color 0.3s;
}

/*----------------------------------- END NAVBAR MAIN-------------------------------------- */


/*-------------------------------- START NAVBAR ASIDE -------------------------------*/

/*! HIDDEN UNTIL THE BURGER LABEL IS CLICKED */

/* Sidebar skeleton navbar, appearing on the top right side of the screen,
   leaving space above to avoid overlap with the main navbar. */
ul#navAside {
    display: none;
    width: 180px;
    border-radius: 20px;
    position: fixed;
    top: 90px;
    right: 0;
    z-index: 1000;
}

/* Style for list items of the sidebar navbar. */
ul#navAside li {
    text-align: center;
    line-height: 60px;
}

/* Display list item content (a) as inline-block to fill their parent (li) completely. */
ul#navAside li a {
    display: inline-block;
    color: white;
    width: 100%;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s;
}

/* The input checkbox and label are invisible but exist.
   When the label (burger icon) is clicked in responsive mode (max-width <= 1024px),
   it toggles the checkbox to show or hide the sidebar navbar. */
input {
    display: none;
}

/* ---------END NAVBAR ASIDE--------- */


/*! Hover effects for NAVBARS (main, aside) */

nav ul#navMain li a:hover,
nav ul#navAside li a:hover {
    background-color: rgba(180, 180, 180, 0.5);
    color: black;
}

/* Adjust hover effect for rounded-corner rectangles. */
ul#navMain li:last-child a:hover {
    border-bottom-right-radius: 40px;
}

ul#navAside li:first-child a:hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

ul#navAside li:last-child a:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*-------------------------------- START MAIN CONTENT ----------------------------------------*/

/* First article on the left side of the page */
#firstArticle {
    float: left;
    margin-left: 20px;
}


/* Second article on the right side of the page + figure containing an image */
#secondArticle {
    float: right;
    margin-right: 20px;
}

#secondArticle figure {
    margin-top: 45px;
}

#secondArticle img {
    width: 85%;
    border-radius: 20px;
}

/* Shared properties for both content articles */
article {
    width: 45%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 90px;
    padding: 40px;
}

/* Title of the article section (both) */
article h1 {
    color: white;
    font-size: 2.2rem;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 40px;
}

/* First letter of the article title (both) */
article h1::first-letter {
    color: blue;
    font-size: 2.5rem;
}

/* Subtitle of the article (both) */
article h2 {
    color: floralwhite;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

/* Text content of the article (both) */
article p {
    color: whitesmoke;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Line separator above each article title (both) */
main hr {
    width: 90%;
    color: rgba(100, 148, 237, 0.3);
    border: 2px solid;
    border-radius: 20px;
    margin-bottom: 30px;
}

/*--------------------------- END MAIN CONTENT ----------------------------*/





/* ----------------------------- START FOOTER------------------------------------ */

/* Footer parent containing all elements */
footer {
    width: 100%;
    background-color: rgba(100, 148, 237, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    border-top-left-radius: 60px;
    clear: both;
}

/* Applied at the end of the content to avoid improper positioning. */
footer::after {
    content: "";
    display: block;
    clear: both;
}



/* Footer figure containing the footer logo, positioned on the left */
footer figure#logoFooter {
    float: left;
    padding: 50px 0 20px;
    margin-left: 30px;
    text-align: center;
}

footer figure#logoFooter img {
    width: 70px;
}

footer figure#logoFooter figcaption {
    font-size: 1.3rem;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 400;
}

/* Common title for both footer sections */
footer div.disclaimer h3,
footer div.contacts h3 {
    font-size: 1.2rem;
    font-family: "Permanent Marker", cursive;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid;
}

/* Footer disclaimer with copyright, positioned on the left after the logo */
footer div.disclaimer {
    float: left;
    padding: 20px 0;
    margin-left: 100px;
}

footer div.disclaimer p {
    font-size: 0.7rem;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 20px 0;
}

footer div.disclaimer a,
footer div.disclaimer address {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}



/* Footer contacts, positioned on the right side of the footer */
footer div.contacts {
    float: right;
    padding: 20px 0 0;
    margin-right: 100px;
}

/* Social media logos */
div.imagesLogo {
    padding: 20px 0 0;
}

div.imagesLogo img {
    width: 70px;
    padding-right: 20px;
}

/* ----------------------------- END FOOTER------------------------------------ */





/* ---------------------------------- START RESPONSIVE PAGE ------------------------------------------ */

/* From 769px to 1024px viewport width */
@media (max-width: 1024px) {

    /* Hide the list items (<a>) of the MAIN navbar */
    nav ul#navMain li a {
        display: none;
    }

    /* Reduce the size of the logo */
    ul#navMain li.logo {
        font-size: 2.3rem;
    }

    /* SHOW THE LABEL (hamburger) on the top right side of the nav,
       clicking it will activate/deactivate the checkbox, and will show the hidden navbar aside */
    label {
        display: block;
        width: 30px;
        height: 30px;
        background: url("../IMG/menu.png");
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 1001;
    }

    /* When the hamburger label is clicked, it activates a hidden input checkbox.
       The hamburger transforms into an X. */
    input:checked+label {
        background-image: url("../IMG/close.png");
        width: 24px;
        height: 24px;
        right: 32px;
    }

    /* Show the sidebar when the checkbox is activated */
    input:checked~ul#navAside {
        display: block;
    }

    /* MODIFIED THE MAIN CONTENT sizes (reduced) */
    article h1 {
        font-size: 1.9rem;
    }

    article h1::first-letter {
        font-size: 2.2rem;
    }

    article h2 {
        font-size: 1.1rem;
    }

    article p {
        font-size: 0.9rem;
    }

    /* MODIFIED THE FOOTER CONTENT sizes (reduced) */
    footer figure#logoFooter {
        padding: 40px 0 10px;
        margin-left: 15px;
    }

    footer figure#logoFooter img {
        width: 50px;
    }

    footer figure#logoFooter figcaption {
        font-size: 1.2rem;
    }

    footer div.disclaimer h3,
    footer div.contacts h3 {
        font-size: 1rem;
    }

    footer div.disclaimer {
        margin-left: 20px;
    }

    footer div.disclaimer p {
        font-size: 0.55rem;
    }

    footer div.disclaimer a,
    footer div.disclaimer address {
        font-size: 0.7rem;
    }

    footer div.contacts {
        margin-right: 50px;
    }

    div.imagesLogo {
        padding: 20px 0 0;
    }

    div.imagesLogo img {
        width: 60px;
        padding-right: 20px;
    }
}

/* From 577px to 768px */
@media (max-width: 768px) {

    /* Reduce the width of the SIDEBAR navbar */
    nav ul#navAside {
        width: 150px;
    }

    /* Reduce the text size of the list items (li) */
    nav ul#navAside li a {
        font-size: 0.7rem;
    }

    /* MODIFIED THE MAIN CONTENT sizes (reduced) */
    article h1 {
        font-size: 1.2rem;
    }

    article h1::first-letter {
        font-size: 1.9rem;
    }

    article h2 {
        font-size: 1rem;
    }

    article p {
        font-size: 0.8rem;
    }

    /* MODIFIED THE FOOTER CONTENT sizes (reduced) */
    footer figure#logoFooter {
        padding: 30px 0 10px;
    }

    footer figure#logoFooter img {
        width: 40px;
    }

    footer figure#logoFooter figcaption {
        font-size: 1rem;
    }

    footer div.disclaimer h3,
    footer div.contacts h3 {
        font-size: 0.9rem;
    }

    footer div.disclaimer {
        margin-left: 5px;
    }

    footer div.disclaimer p {
        font-size: 0.5rem;
    }

    footer div.disclaimer a,
    footer div.disclaimer address {
        font-size: 0.6rem;
    }

    footer div.contacts {
        margin-right: 0;
    }

    div.imagesLogo {
        padding: 10px 0 0;
    }

    div.imagesLogo img {
        width: 50px;
        padding-right: 10px;
    }
}

/* From 481px to 576px */
@media (max-width: 576px) {

    /* Set both articles' float to none,
       making them stack on top of each other to adjust this behavior */

    /* MODIFIED THE MAIN CONTENT sizes (adjusted and increased) */
    #firstArticle {
        float: none;
        width: 85%;
        margin: 140px auto;
    }

    #secondArticle {
        float: none;
        width: 85%;
        margin: 0 auto 150px;
    }

    article h1 {
        font-size: 1.5rem;
    }

    article h1::first-letter {
        font-size: 2.2rem;
    }

    article h2 {
        font-size: 1.3rem;
    }

    article p {
        font-size: 0.9rem;
    }

    /* FIX THE WRAP OF THE 2 DIVS IN THE FOOTER AND ADJUST ALL THE ELEMENTS */

    /* MODIFIED THE FOOTER CONTENT sizes (revised) */
    footer figure#logoFooter {
        padding: 20px 0 0;
        margin-left: 15px;
    }

    footer div.disclaimer {
        margin-left: 30px;
    }

    footer div.disclaimer p {
        font-size: 0.55rem;
    }

    /* Adjust its width based on content length,
       positioning it below the disclaimer in its own centered space */
    footer div.contacts {
        float: none;
        clear: both;
        width: fit-content;
        padding: 30px 0 10px;
        margin: 0 auto;
    }

    footer div.contacts div.imagesLogo {
        padding: 20px 0 0;
    }

    footer div.contacts div.imagesLogo img {
        width: 65px;
        padding-right: 20px;
    }
}

/* From 0px to 480px */
@media (max-width: 480px) {

    /* MODIFIED THE MAIN CONTENT sizes (reduced) */
    article h1 {
        font-size: 1.5rem;
    }

    article h1::first-letter {
        font-size: 1.8rem;
    }

    article h2 {
        font-size: 1.2rem;
    }

    article p {
        font-size: 0.75rem;
    }

    /* REWORK THE FOOTER POSITION, WRAPPING THE DIVS */
    footer {
        text-align: center;
    }

    footer figure#logoFooter,
    footer div.disclaimer {
        float: none;
        clear: both;
        width: 65%;
        margin: 0 auto;
    }

    /* MODIFIED THE FOOTER CONTENT sizes (increased / adjusted) */
    footer figure#logoFooter {
        padding: 25px 0;
    }

    footer figure#logoFooter img {
        width: 70px;
    }

    footer figure#logoFooter figcaption {
        font-size: 1.3rem;
    }

    footer div.disclaimer h3,
    footer div.contacts h3 {
        font-size: 1.2rem;
    }

    footer div.disclaimer p {
        font-size: 0.65rem;
    }

    footer div.disclaimer a,
    footer div.disclaimer address {
        font-size: 0.75rem;
    }

    div.imagesLogo {
        padding: 20px 0 0;
    }

    div.imagesLogo img {
        width: 50px;
        padding-right: 20px;
    }
}

/* ---------------------------------- END RESPONSIVE PAGE ------------------------------------------ */