body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.static {
    position: static;
    top: 500px;
    /*will not change!*/
    width: 500px;
    background-color: lightgrey;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.relative {
    position: relative;
    bottom: 20px;
    left: 70px;
    background-color: lightblue;
    padding: 20px;
    border: 2px solid blue;
    margin-bottom: 10px;
}

.container {
    position: relative;
    width: 500px;
    height: 300px;
    border: 2px solid black;
}

.absolute {
    position: absolute;
    bottom: 20px;
    right: 30px;
    background-color: lightgreen;
    padding: 20px;
    border: 2px solid green;
}

.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: lightcoral;
    padding: 20px;
    border: 2px solid red;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 20px;
    border: 2px solid orange;
    margin-bottom: 10px;
}

.content {
    margin-top: 200px;
    /* Aggiunge spazio per lo scrolling */
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}



span {
    padding: 600px;
}