/**
 * style.css
 *
 * We play with the various elements at (link) going to give specific propety
 * Based on where the various links are located
 * ex: inside paragraphs, inside lists or even without parents
 * 
 */


/* used as root to play with font-size */
html {
    font-size: 20px;
}


body {
    background-color: rgb(248, 233, 211);
}

/* link whitout parent */
a {
    color: red;
}

/* link nested into ol li */
ol li a {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}


/* Contains an imported Google Font
Defect: + long page loading times 
link nested into paragraph (p)*/
p a {
    color: blue;
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
}


/* Link decoration using pseudoclass */
a:hover {
    text-decoration: overline;
    background-color: violet;
}