/**
 * style.css
 *
 *
 * let's sets also the box-sizing property to border-box for all elements
 * do some text of the new proprieties about the new section
 *
 */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

div {
    margin: 80px 0;
}

/* inizio text shadows */

div.box {
    width: 200px;
    height: 200px;
}

div.ocra {
    background-color: #caae3f;
}

/* primo valore --> POSIZIONE DELL'OMBRA ASSE X, 
secondo valore --> POSIZIONE DELL'OMBRA ASSE Y
terzo valore --> EFFETTO DI BLUR 
quarto valore --> EFFETTO DI SPREAD RADIUS (DIFFUSIONE/ESPANSIONE DEI BORDI) */
/* POSSIAMO AGGIUNGERE ANCHE IL COLORE DELL'OMBRA (in qualsiasi posizione va bene!!) */
div.shadow {
    color: aqua;
    box-shadow: 50px 20px 5px 8px;
}


/* POSSIAMO ANCHE COMBINARE + EFFETTI DI SHADOW UNO SOTTO L'ALTRO SEPARANDOLI CON LA , */
div.purple {
    background-color: purple;
}

div.shadow2 {
    box-shadow:
        5px 5px 5px 0px #289fed,
        400px 10px 0px 0px #5fb8ff,
        15px 30px 0px 0px #a1d8ff,
        20px 20px 0px 0px #cae6ff;
}

/* funziona anche sui testi con la propriety TEXT-SHADOW */

/* primo valore --> POSIZIONE DELL'OMBRA ASSE X, 
secondo valore --> POSIZIONE DELL'OMBRA ASSE Y
terzo valore --> EFFETTO DI BLUR */
/* POSSIAMO AGGIUNGERE ANCHE IL COLORE (in qualsiasi posizione va bene!!) */
p {
    font-size: 50px;
    text-shadow: rgba(248, 33, 58, 0.5) 3px 0px 1px;
}

div.gradient {
    background: linear-gradient(teal, purple);
}


/* ------------------------------------------------------------------------------------ */
/* ANIMATIONS PROPRIETIES + @KEYFRAMES */

div.animations {
    width: 200px;
    height: 200px;
    background-color: blue;
    font-size: 150px;
    text-align: center;
    border: 5px solid;
    border-radius: 100px;

    /* ANIMATIONS PROPRIETIES */
    animation-name: tryAnimations;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}


@keyframes tryAnimations {

    50% {
        background-color: red;
        transform: rotateX(360deg) rotateY(360deg) translateY(-100px);
    }

}