/**
 * style.css
 *
 * style sheet used to create a chessboard whit the cells of a table
 * In this solution we will assign to the cells 2 differents classes selectors to alternate the colors
 */

 

body {
    background-color: beige;
}


/* Let's eliminate the spaces present between a cell and those around it */
table {
    border-collapse: collapse;
}


/* cells of the table used as a chessboard */
td {
    text-align: center;
    border: 2px solid black;
    width: 50px;
    height: 50px;
}


/* cells of the first player */
.player1 {
    background-color:rgb(0, 0, 0);
}


/* cells of the second player */
.player2 {
    background-color: orange;
}