/**
 * style.css
 *
 *
 * let's sets also the box-sizing property to border-box for all elements.
 * setted and tested for all the elements the proprieties required
 *
 */

html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* Set a background gradient for the header */
header {
    background: radial-gradient(circle, pink, yellowgreen);
    margin-bottom: 100px;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}




/* Add a text shadow to the paragraph and a transition effect on hover */
p {
    font-size: 25px;
    color: black;
    text-shadow: 10px 10px 2px rgb(169, 179, 255);
    padding: 20px;
    margin-bottom: 100px;
    transition: color 0.5s, text-shadow 2s;

    &:hover {
        color: red;
        text-shadow: 10px 10px 2px rgb(139, 255, 38);
    }
}



/* Apply a 45-degree rotation to the div on hover */
div.transform {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 50px;
    margin-bottom: 100px;
    transition: transform 1.5s, background-color 0.5s;

    &:hover {
        background-color: yellowgreen;
        transform: rotate(45deg);
    }
}


/* Add an animation to move the div from left to right and a 
hover effect to pause the animation and change the color of the box */
div.animation {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: relative;
    transition: background-color 0.7s ease-out;
    animation: move 3s linear infinite;

    &:hover {
        background-color: red;
        animation-play-state: paused;
    }

    &:hover::before {
        content: "!stop";
        font-size: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/* Define keyframes for continuous movement */
/* 50% of the animation duration is used to move the box to the right,
   the remaining 50% returns it to its original position */
@keyframes move {
    50% {
        transform: translateX(600px);
    }
}