/**
 * style.css
 *
 *
 * let's sets also the box-sizing property to border-box for all elements.
 * setted and tested for all the elements the proprieties required
 *
 */

html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* set an background gradients to the header */
header {
    background: radial-gradient(circle, pink, yellowgreen);
    margin-bottom: 100px;
    padding: 20px;
}

header h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}



/* sets an text shadow to the paragraph 
sets an transition to the paragraph on hover it*/
p {
    font-size: 25px;
    color: black;
    text-shadow: 10px 10px 2px rgb(169, 179, 255);
    padding: 20px;
    margin-bottom: 100px;
    transition: color 0.5s, text-shadow 2s;

    &:hover {
        color: red;
        text-shadow: 10px 10px 2px rgb(139, 255, 38);
    }
}



/* sets an transform which rotate the div to 45deg from its original position*/
div {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 50px;
    margin-bottom: 100px;
    transition: transform 1.5s, background-color 0.5s;

    &:hover {
        background-color: yellowgreen;
        transform: rotateZ(45deg);
    }
}



/* sets animations which move the div continuously from left to right */
/* also added an hover effect to pause the animation */
.animation {
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    transition: border-radius 1s ease-out;
    animation: move 3s linear infinite;

    &:hover {
        background-color: blue;
        animation-play-state: paused;
        border-radius: 100px;
    }
}


/* add the keyframes for the continuous movement */
@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(0);
    }
}