/**
 * style.css
 *
 *
 * This stylesheet sets up the basic styling for a webpage, including a header
 * with navigation links, and a main content area with three lists styled
 * differently: nations, flags, and population. 
 * The header is fixed and has a high z-index to ensure it stays above other elements 
 * when scrolling.
 *
 */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}



#container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}



/*-------------------- START HEADER --------------------------*/

/* Let's set up a z-index value, to go to win the overlap
on the other elements while scrolling the page */
.header {
    background-image: url("../IMG/360_F_117570010_UXaKtjDKqjZTe7CyfGOF67BVb12x8PNS.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Let's go to put the lists (li), At the center of his father container (ol) */
.header ol {
    text-align: center;
    padding: 10px;
}

/* le liste le trasformiamo tramite display: inline-block, cosicchè saranno in fila
 */
.header ol li {
    display: inline-block;
    width: calc(70% / 3);
    height: 60px;
    padding: 10px;
}

.header ol li a {
    color: black;
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.header ol li a:hover {
    text-decoration: 2px underline;
}


/*-------------------- END HEADER --------------------------*/


/*--------------------------- START MAIN --------------------------------*/

/* andiamo a dare del margine in alto per non permettere alla navbar
dell'header, di sovvrastare i primi contenuti */
main {
    background-color: rgb(219, 245, 245);
    min-height: 5000px;
    margin-top: 55px;

}

/* universal settings for all lists (ul) */
main ul {
    width: calc(100%/3);
    margin-top: 40px;
    float: left;
}

main ul li:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.397);
}







/* For 1 list (nations) */
main ul.nation {
    min-height: 1000px;
}

/* Let's go to centre the <li>, in the <ol>
aLet's assign the same height as others <li> next to it (200px) */
main ul.nation li {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

main .huge::before,
main .huge::after {
    content: "  !";
    background-color: yellow;
    border: 2px solid;
    border-radius: 10px;
}








/* for 2 list (flags)*/
main ul.flags {
    min-height: 1000px;
}

/* We assign theposition: relative, To allow you to move the image
that will have one position: absolute, within it */
main ul.flags li {
    height: 200px;
    position: relative;
}

main ul.flags li img {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*It hits the element both horizontally and vertically */
    transform: translate(-50%, -50%);
}











/* for 3 list (population) */
main ul.population {
    min-height: 1000px;

}

main ul.population li {
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 200px;
}






/* This will prevent the overlap of subsequent contents over the main */
.clear {
    clear: both;
}

/*--------------------------- END MAIN --------------------------------*/