/**
 * style.css
 *
 *
 * using some property for the presentation of the new section
 *
 */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
}

h2 {
    font-size: 30px;
    margin-top: 100px;
}

/* division for each section */
section div {
    float: left;
    margin: 20px 30px;
}

section p {
    margin: 10px 20px;
}

section::after {
    clear: both;
    content: "";
    display: block;
}

/* common box for all the trys of code */
.box {
    width: 200px;
    height: 100px;
    border: 2px solid black;
}


/* -------------------------------------------------------------- */

/* play whit the box-shadows on the div whit class (.box) */
.box.shadow {
    box-shadow: 15px 5px 2px 1px red;
}

.box.shadows {
    box-shadow:
        5px 5px 5px 0px #289fed,
        10px 10px 0px 0px #5fb8ff,
        15px 30px 0px 0px #a1d8ff,
        20px 20px 0px 0px #cae6ff;
}

/* -------------------------------------------------------------- */

/* play whit the text-shadows on the p */
p.text-shadow {
    font-size: 50px;
    text-shadow: 8px 2px 1px rgba(248, 33, 58, 0.5);
}

/* -------------------------------------------------------------- */

/* play whit the gradients on the div whit class (.box) */
.box.linear {
    background: linear-gradient(140deg, red, blue);
}

.box.radial {
    background: radial-gradient(at bottom left, red, blue, pink, yellow);
}

.box.conic {
    background: conic-gradient(red 80deg, blue 10deg, yellow 280deg, green, aqua, pink);
}

/* -------------------------------------------------------------- */

/* play whit the transitons on the div whit class (.box) */

/* 1. transition of the background-color */
.box.color {
    background-color: blue;
    transition: background-color 2s;
}

.box.color:hover {
    background-color: red;
}

/* 2. transition of the border-radius */
.box.radius {
    background-color: red;
    transition: border-radius 2s;
}

.box.radius:hover {
    border-radius: 50%;
}

/* 3. transition */
.box.dimension {
    transition: all 3s;
    background-color: blue;

    &:hover {
        width: 100px;
        height: 50px;
    }
}


/* 4. MULTIPLE ELEMENTS transition (list) */
.box.multipleTrans {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 1s ease-in-out,
        height 0.2s ease-in,
        background-color 2.5s ease-out,
        border-radius 4s ease-in-out;

    &:hover {
        width: 250px;
        height: 150px;
        background-color: blue;
        border-radius: 30px;
    }
}


/* -------------------------------------------------------------- */

/* play whit the TRANSFORM on the div whit class (.box) */


/* 1. translate */
.box.translate {
    background-color: red;
    transition: transform 1s;

    &:hover {
        transform: translate(125px, 125px);
    }
}


/* 2. rotate X Y*/
.box.rotate {
    background: linear-gradient(red, blue);
    transition: transform 2s;

    &:hover {
        transform: rotateY(360deg) rotateX(160deg);
    }
}


/* 3. rotate Z */
.box.rotateZ {
    background-color: blue;
    transition: transform 2s;

    &:hover {
        transform: rotateZ(180deg);
    }
}


/* 4.scale using --> scale(ASSEX, ASSEY) // scale(ASSEX+ASSEY)
1 == 100% of the element
0.5% == 50% of the element */
.box.scale {
    background-color: red;
    transition: transform 1s;

    &:hover {
        transform: scale(0.8, 2);
    }
}


/* 5. skew  using --> skew(ASSEX, ASSEY)*/
.box.skew {
    background: blue;
    transition: transform 4s;

    &:hover {
        transform: skew(180deg, 180deg);
    }
}


/* 6. transform-origin */
.box.transform-origin {
    transform-origin: 0 0;
}


/* -------------------------------------------------------------- */

/*  play whit the animations on the div whit class (.box)  */
/* infinite animation (will repeat every 5sec), has different transform every fase */
/* SI POSSONO USARE --> from (da) to (a)   /   %(percentuali che indicano la fase dell'animazione)   */

.box.animations {
    width: 200px;
    height: 200px;
    animation: 5s animationsBox infinite ease-in-out;
}

@keyframes animationsBox {
    0% {
        transform: skew(30deg, 20deg);
    }

    30% {
        transform: scale(0.8, 0.5);
    }

    67% {
        transform: rotateY(180deg) rotateZ(0);
    }

    100% {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}