div {
    background-color: red;

    width: 760px;
    height: 100px;
    font-size: 30px;

    padding: 20px 30px;

    border: 10px solid;

    margin-bottom: 40px;
    margin-left: 30px;


}


span {
    background-color: yellow;
    width: 300px;
    height: 200px;
    font-size: 20px;

    padding: 20px 200px;

    border: 2px dotted black;

    margin-top: 40px;
}