body{
    font-family: "Comic Sans MS";
}

h1 {
    font-style: italic;
    color: rgb(61, 43, 128);
    font-size: 50px;
    margin-bottom: -3%;
}

h2{
    font-size: 35px;
    margin-top: 3%;
}

p{
    font-size: 20px;
}

span{
    text-decoration: underline;
    background-color: yellow;
}
