$primary: darkorange;
$secondary: #bada55;
$special-border: 2px dashed $secondary;
#sample {
 color: $primary;
 background-color: $secondary;
}
.special {
 border: $special-border;
}
.unique {
 border: 2px solid $primary;
}